<div class="container mx-auto p-2">
  <div class="row p-2">
    <div class="col-lg-12" *ngIf="!estaCarregando && !erroNoCarregamento">
      <h1>{{campanha.nome}}</h1>
    </div>
  </div>
  <div class="row">
    <div cdkDropList #minha="cdkDropList" [cdkDropListConnectedTo]="[confirmados]" [cdkDropListData]="produtos"
      class="col-lg-4" (cdkDropListDropped)="drop($event)">
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
          <h3>Produtos</h3>
        </li>
        <li class="list-group-item" *ngFor="let produto of produtos " cdkDrag>{{produto.nome}}</li>
      </ul>
    </div>
    <div cdkDropList #confirmados="cdkDropList" [cdkDropListData]="confirmList" [cdkDropListConnectedTo]="[minha]"
      (cdkDropListDropped)="drop($event)" class="col-lg-8">
      <ul class="list-group">
        <li class="list-group-item active">
          <h3>Destaque</h3>
        </li>
        <li class="list-group-item" *ngFor="let produto of confirmList" cdkDrag>
          <img src="{{produto.foto}}" class="img-person" >
          {{produto.nome}},  {{produto.valor | currency}}</li>
      </ul>
    </div>
  </div>
</div>



<button class="btn btn-secondary voltar" (click)="voltar()">Voltar</button>




