<div class="m-3">
  <h1 class="mb-3">Pedidos </h1>

  <div *ngIf="erroNoCarregamento">
    <h2>ERRO :(</h2>
    <button (click)="carregarClientes()" ype="button" class="btn btn-secondary btn-lg">
      Tentar novamente
    </button>
  </div>

  <div *ngIf="!estaCarregando && !erroNoCarregamento">
    <div class="d-flex justify-content-between">
      <button (click)="retPagina()" [disabled]="pagina === 1" class="btn btn-outline-secondary mb-1">
        Anterior
      </button>
      <span>Página Atual: {{ pagina }}</span>
      <button (click)="proxPagina()" class="btn btn-outline-secondary mb-1">
        Próxima >>
      </button>
    </div>



    <div class="align-middle">
      <table class="table text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">CLIENTE </th>
            <th scope="col">VALOR TOTAL </th>
            <th scope="col">DATA </th>
            <th class="justify-content-end pr-3">
              <div class="d-flex justify-content-end">
                <button class="btn btn-success" routerLink="/formulario-pedido" (click)="novoPedido()">
                  Novo
                </button>
              </div>
          </tr>

        <tbody>
          <tr *ngFor="let pedidos of pedido">
            <td class="text-start align-middle pl-5" scope="row d-column"><b>{{ pedidos.id_cliente}}</b></td>
            <td class="align-middle pl-5 pr-5">{{ pedidos.valor_total}}</td>
            <td class="text-start align-middle pl-5 pr-5">
              {{ pedidos.data }}
              <button class="btn btn-info ml-2 mr-2" (click)="verDetalhes()">
                Detalhes
              </button>
              <button class="btn btn-warning ml-2 mr-2" (click)="editarPedido()">
                Editar
              </button>
              <button class="btn btn-danger ml-2 mr-2" (click)="apagarCliente()">
                Excluir
              </button>
            </td>
          </tr>
        </tbody>


      </table>
    </div>
  </div>