<div class="container text-center p-5">
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-danger" role="status" *ngIf="estaCarregando">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div *ngIf="erroNoCarregamento">
      <h2>Ocorreu um erro! :(</h2>
      <button
        (click)="carregarPedidoProduto()"
        type="button"
        class="btn btn-secondary btn-lg"
      >
        Tentar novamente
      </button>
    </div>
    <div *ngIf="!estaCarregando && !erroNoCarregamento">
      <p><b>ID Pedido:</b> {{ pedidoProduto.pedidoId }}</p>
      <p><b>ID Produto:</b> {{ pedidoProduto.produtoId }}</p>
      <p><b>Valor:</b> {{ pedidoProduto.valor | currency }}</p>
      <p><b>Quantidade:</b> {{ pedidoProduto.quantidade}}</p>
      <button class="btn btn-secondary" (click)="voltar()">Voltar</button>
    </div>
  </div>
</div>