<div class="container text-center p-5">
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-danger" role="status" *ngIf="estaCarregando">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div *ngIf="erroNoCarregamento">
      <h2>Ocorreu um erro! :(</h2>
      <button
        (click)="carregarPedido()"
        type="button"
        class="btn btn-secondary btn-lg"
      >
        Tentar novamente
      </button>
    </div>
    <div *ngIf="!estaCarregando && !erroNoCarregamento">
      <p><b>ID:</b> {{ pedido.clienteId }}</p>
      <p><b>Valor Total:</b> {{ pedido.valorTotal | currency }}</p>
      <p><b>Data:</b> {{ pedido.dataPedido | date:'dd/MM/yyyy'}}</p>
      <button class="btn btn-secondary" (click)="voltar()">Voltar</button>
    </div>
  </div>
</div>